# Node modules
node_modules/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build directories
dist/
build/

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
